
.myname
{
    font-size: 25px;
    background:teal;
    width: 200px;
    height: 50px;
    margin-left: 175px;
    margin-right: 200px;
    margin-top: -10px;
    text-align: center;
    color: white;
    padding-top: 15px; 
}

.topnav

{
    color: #7777;
    margin-right: 225px;
    float: right;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
    padding-top: -10px;
    text-decoration: none;

}

.active
{
text-decoration: none;
color: darkgray;
padding: 20px;
}

.container
{
background-color:#dddddd;
width: 1700px;
height: 1500px;
margin-top: -10 px;
margin-left: -10 px;
margin-right: -10 px;
}

.box
{
background-color:#ffffff;
width: 960px;
height: 420px;
margin-left: 175px;
margin-right: 175px;
margin-top: 50px;
margin-bottom: -70px;
padding-bottom: 0px;
float:left;
text-align:center;
}

.aboutme 
{
text-align: left;
color:teal;
margin-left: 20px;
}

#contact
{
    text-align: left;
    color:teal;
    margin-left: 20px;
    }

hr
{
width: 920px;
height:.5px;
background: lightgray
}

#tomted
{
float:left;
height: 175px;
width: 175px;
margin-right: 10px;
margin-left: -30px;
}

p
{
text-align: justify;
text-justify: inter-word;
line-height: 1.25;
margin-left: 50px;
margin-top: 30px;
margin-right:25px;
margin-bottom: -10px;
float:none;
color: #777777;
}

#third
{
margin-left: 20px;
}

.footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
    color: white;
    border-top: 8px solid teal;
    margin-bottom: -80px;
}

.copyright
{
margin-left: 45%;
margin-bottom: 40px;
font-size: 15px;
color: white;
padding-bottom: 40px;
}

.contacttext
{
    text-align: left;
    color:teal;
    margin-left: 20px;
}
.form
{
text-align:left;
padding-left: 20px;
color: darkgray;
margin-right: 20px;
}

.boxed {
    border: 1px solid gray ;
  }

.johnsmith
{
    padding: 3px;
}
.example
{
padding: 3px;
}
.hidden
{
padding:40px;
}

.extrawhite
{
width: 960px;
height: 70px;
background-color: white;
margin-left: -20px;
margin-top: -15px;
}
.submit
{
font-size: 20px;
padding: 5px;
margin-left: 20px;
margin-right: 860px;
margin-top: 25px;
color:white;
background-color: teal;
}

.image1 
{
    position: relative;
    height: 135px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    white-space: nowrap;
  }
  
  
  .textimage1
  {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 78px;
    background-color: teal;
    color: white;
    padding-left: 62px;
    padding-right: 60px;
    padding-top: -5px;
    padding-bottom: -5px;
  }

  
.image2 
{
    position: relative;
    height: 135px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    margin-left: 220px;
    margin-top: -155px;
  }
  
  
  .textimage2
  {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 78px;
    background-color: teal;
    color: white;
    padding-left: 62px;
    padding-right: 60px;
    padding-top: -5px;
    padding-bottom: -5px;
  }

   
.image3 
{
    position: relative;
    height: 135px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    margin-left: 220px;
    margin-top: 30px;
  }
  
  
  .textimage3
  {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 78px;
    background-color: teal;
    color: white;
    padding-left: 62px;
    padding-right: 60px;
    padding-top: -5px;
    padding-bottom: -5px;
    white-space:nowrap;

  }
  .image4
{
    position: relative;
    height: 135px;
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    margin-left: 0px;
    margin-top: -155px;
  }

  
  .textimage4
  {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 78px;
    background-color: teal;
    color: white;
    padding-left: 62px;
    padding-right: 60px;
    padding-top: -5px;
    padding-bottom: -5px;
    white-space: nowrap;
  }
  .image5
  {
      position: relative;
      height: 135px;
      width: 200px;
      padding: 10px;
      padding-left: 15px;
      margin-left: 0px;
      margin-top: 30px;
      white-space: nowrap;
    }

    .textimage6
  {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 78px;
    background-color: teal;
    color: white;
    padding-left: 62px;
    padding-right: 60px;
    padding-top: -5px;
    padding-bottom: -5px;
    white-space: nowrap;
  }
  .image6
  {
      position: absolute;
      height: 135px;
      width: 200px;
      padding: 10px;
      padding-left: 15px;
      margin-left: 220px;
      margin-top: -155px;
      white-space: nowrap;
  }
  
    .textimage5
    {
      position: absolute;
      bottom: -20px;
      position:center;
      width: 78px;
      background-color: teal;
      color: white;
      padding-left: 62px;
      padding-right: 60px;
      padding-top: -5px;
      padding-bottom: -5px;
    }

    .rutgers
    {
        margin-left: -25px;
    }
    .rock
    {
        margin-left: -25px;
    }

.specialbox
{
background-color:#ffffff;
width: 960px;
height: 680px;
margin-left: 175px;
margin-right: 175px;
margin-top: 50px;
margin-bottom: -70px;
padding-bottom: 0px;
float:left;
text-align:center;
}

@media screen and (max-width: 980px) {


.container
    {
    background-color:#dddddd;
    width: 1700px;
    height: 1500px;
    margin-top: -10 px;
    margin-left: -20px;
    margin-right: -10 px;
    }
.box 

{
  margin:auto;
  width: 35%;
  height: 35%;
  padding:20px;
  margin-left: 50px;
  margin-top: 30px;

}
.myname
{
    font-size: 25px;
    background:teal;
    width: 200px;
    height: 50px;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: -10px;
    text-align: center;
    color: white;
    padding-top: 15px; 
}

.topnav
{
margin-right: 50px;
}

hr
{
width:580px;
height:.5px;
background: lightgray
}

.aboutme 
{
text-align: left;
color:teal;
margin-left: 20px;
padding-top: 0px;
margin-top: 10px;
}

#second
{
    margin-left: 10px;
}
#third
{
    margin-left: 10px;
}

.mynameport
{
margin-left: 30px;
}
.specialbox
{
    margin:auto;
    width: 26%;
    height: 45%;
    padding:20px;
    padding-top: 10px;
    margin-left: 50px;
    margin-top: 35px;
}

.lineport
{
width: 100%;
}

.contactbox
{
    margin-left: 50px;
}

.extrawhite
{
    width: 100px;
    height: 70px;
    background-color: white;
    margin-left: -20px;
    margin-top: -15px;
    padding-right: 10x;
}
.submit
{
font-size: 20px;
border: 1px solid gray ;
width: 65px;
padding: 5px;
margin-left: 20px;
margin-right: 860px;
margin-top: 25px;
color:white;
background-color: teal;
}
.contactbox
{

margin-top: 30px;
height: 475px;
}

.contacttext 
{
    padding-top: -10px;
    margin-top: 0px;
}

.hidden
{
padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
    
.container
{
background-color:#dddddd;
width: 1700px;
height: 1500px;
margin-top: -10 px;
margin-left: -20px;
margin-right: -10 px;
}
.box 

{
margin:auto;
width: 41%;
height: 35%;
padding:20px;
margin-left: 30px;
margin-top: 30px;

}
#tomted
{
   height:280px;
   width: 280px;

}
.myname
{
font-size: 25px;
background:teal;
width: 200px;
height: 50px;
margin-left: 10px;
margin-right: 200px;
margin-top: -10px;
text-align: center;
color: white;
padding-top: 15px; 
}

.topnav
{
margin-right: 10px;
padding-bottom: 25px;
}

hr
{
width:670px;
height:.5px;
background: lightgray
}

.aboutme 
{
text-align: left;
color:teal;
margin-left: 20px;
padding-top: 0px;
margin-top: 0px;
}

#second
{
margin-left: 10px;
}
#third
{
margin-left: 10px;
}

.mynameport
{
margin-left: 10px;
}
.specialbox
{
margin:auto;
width: 40%;
height: 60%;
padding:20px;
padding-top: 10px;
margin-left: 30px;
margin-top: 35px;
}

.lineport
{
width: 93%;
}

.image1
{
    height: 200px;
    width: 300px;
}

.textimage1
{
   
    width: 178px;
    
}
.image2
{
    height: 200px;
    width: 300px;
    float: left;
    margin-left: 340px;
    margin-top: -220px;
}
.textimage2
{
    width: 178px;
}
.image3
{
    height: 200px;
    width: 300px;
    margin-top: 60px;
    margin-left: 340px;
}

.textimage3{
    width: 178px;
}
.image4
{
    height: 200px;
    width: 300px;
    margin-top: -220px;
}
.textimage4{
    width: 178px;
}
.image5
{
    height: 200px;
    width: 300px;
    padding-top: 40px;
}

.textimage5{
    width: 178px;
}

.contactbox
{
margin-left: 50px;
}

.extrawhite
{
width: 100px;
height: 70px;
background-color: white;
margin-left: -20px;
margin-top: -15px;
padding-right: 10x;
}
.submit
{
font-size: 20px;
border: 1px solid gray ;
width: 65px;
padding: 5px;
margin-left: 20px;
margin-right: 860px;
margin-top: 25px;
color:white;
background-color: teal;
}
.contactbox
{

margin-top: 30px;
height: 475px;
margin-right: 50px;
margin-left: 30px;
width: 690px;
}

.contacttext 
{
padding-top: -10px;
margin-top: 0px;
}

.hidden
{
padding-bottom: 80px;
}

@media screen and (max-width: 640px) {
  
.myname

{
    width:120% ;
    margin: -10px; 
    margin-right: -50px;
    text-indent: -150px;
}
.topnav
{
    margin-top:0px;
    background: white;
    width: 120%;
    padding-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    text-indent: 70px;
    height: 12px;
}

.box{
width: 33%;
height: 55%;
}

#tomted
{
width:545px;
height: 375px;
padding-left: 25px;
padding-bottom: 10px;
justify-content: center;
}

hr 
{
width: 97%;
} 

#first 
{

margin-left: 13px;
}

.image1
{
    height: 450px;
    width: 450px;
    margin-left: 30px;
}

.textimage1
{
    width: 327px;
    margin-bottom: 130px;
   margin-left: 30px;

}

.image2
{
height: 450px;
width: 450px;
margin-left: 30px;
margin-top: -60px;
}

.textimage2
{
    width: 327px;
    margin-bottom: 130px;
   margin-left: 30px; 
}

.specialbox
{
width: 32%;
height: 90%;

}

.image3
{
height: 300px;
width: 450px;
margin-left: 30px; 
margin-top: -60px;
float:left;
}

.textimage3
{
    width: 327px;
   margin-left: 30px; 
   margin-bottom: -20px;
}
.image4{
    visibility: hidden;
}
.textimage4{
    visibility: hidden;
}

.image5
{
    visibility: hidden;
}
.textimage5
{
    visibility: hidden;
}

.contactbox
{
    height:32%;
}

a:link {
    text-decoration: none;
  }

  